CompileFlags:
  Add: [-O3, -Wall, -Wshadow]
  Compiler: clang

Diagnostics:
  ClangTidy:
    Add: [bugprone-*, cert-*, modernize-*, performance-*]
    Remove:
      [
        bugprone-easily-swappable-parameters,
        modernize-use-trailing-return-type,
        modernize-use-nullptr,
      ]
    FastCheckFilter: None
